@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Miles Per Gallon Tracker!</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Step 1!</h2>
        <p>
            Add yourself as an Owner to get started!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Step 2!</h2>
        <p>
            Add Your vehicle in the vehicles tab after you've add yourself as a driver!'
        </p>
    </div>
    <div class="col-md-4">
        <h2>Step 3!</h2>
        <p>
            After you've add your vehicle, just find it in the vehicles tab and click add fillup. You're all set! Happy Driving!
        </p>
    </div>

</div>